<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".root.CulmixApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Culmix"
        tools:targetApi="31">
        <activity
            android:name=".feature.editprofile.activity.EditProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.homeinspection.activity.HomeInspectionActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.login.activity.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.start.activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.register.RegisterActivity"
            android:exported="true">

        </activity>
        <activity android:name=".feature.sethome.activity.SetHomeActivity" />
        <activity
            android:name=".root.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
        <activity
            android:name=".feature.join.JoinActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

        </activity>
    </application>

</manifest>